<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if page.mathjax or site.mathjax %}{% include mathjax.html %}{% endif %}
    {% include head-custom.html %}
  </head>
  <body class="{% if page.layout_type == 'two-column' %}two-column{% else %}single-column{% endif %}">
    <!-- Navigation Bar -->
    <nav class="navbar">
      <span class="nav-title"><a href="/">Surbhi Goel</a></span>
      <div class="menu-toggle" onclick="toggleMenu()">☰</div>
      <ul class="nav-list">
        <li><a href="/">About</a></li>
        <li><a href="/research/">Research</a></li>
        <li><a href="/group/">Group</a></li>
        <li><a href="/teaching/">Teaching</a></li>
        <li><a href="/activities">Activities</a></li>
        <li><a href="https://unprovenalgos.github.io/">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <main class="wrapper">
      {{ content }}
    </main>
    <script>
      function toggleMenu() {
        const navList = document.querySelector('.nav-list');
        navList.classList.toggle('active');
      }
    </script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
